#content{
    padding-top: 20px;
    padding-bottom: 30px;
}

.navbar{
    margin-bottom: 0;
}

#register{
    margin-left: 10px;
}

.jumbotron{
    padding-bottom: 0;
    margin-bottom: 0;
}