.test{
    background: #eee;
    margin: 0 auto;
    max-width: 1200px;
}

.content{
    background: #ddd;
}

.sidebar{
    background: #ccc;
}

.thumb{
    background: #ddd;
    padding: 30px 15px;
    text-align: center;
}

.thumb:nth-child(even){
    background: #ccc;
}