#content{
    padding-top: 20px;
    padding-bottom: 30px;
}

.navbar{
    margin-bottom: 0;
}

#register, #inbox{
    margin-left: 10px;
}

.badge{
    background: #d9534f;
}

.jumbotron{
    padding-bottom: 0;
    margin-bottom: 0;
}